* {
  box-sizing: border-box;
}

body {
  margin: 0;
}
 ul{
  padding: 0 ;
  margin: 0;
 }

 li{
  list-style: none;
 }
 h1, h2, h3, p {
  margin: 0;
  font-weight: normal;
 }

 p {
  margin-top: 0;
 }
 a {
  text-decoration: none;
  color: #000;
 }

 address {
  font-style: normal;
  text-align: right;
 }

body {
  background: #17191C;
  color: #FFFFFF;
  font-size: 16px;
  font-family: "Open Sans";
}

a {
  color: inherit;
}

.container {
  width: 1140px;
  margin: 0 auto;
}

.main-page-wrapper {
  background: url(./img/nbgB77C1HAg\ 1\ \(1\).png) center top no-repeat, url(./img/56278948-888x544\ 2.png) center bottom 155px no-repeat;
  background-blend-mode: luminosity;
  background-color: #17191C;
  height: 2930px;
}
