.menu {
  margin-left: 21px;
}

.menu__menu {
  display: inline-block;
  vertical-align: middle;
  margin-right: 63px;
  transition: color 0.3s ease;
}

.menu__menu:last-child {
  margin-right: 0;
}

.menu__menu:hover {
  color: #8F00FF;
}

.menu__link {
  font-size: 16px;
}