.social {
  margin-right: -103px;
}

.social__list {
  list-style: none;
  padding: 0;
  display: flex;
}

.social__item {
  margin-bottom: 10px;
}

.social__link {
  display: inline-block;
  width: 36px;
  height: 36px;
  background: url('/img/sprites.png');
  margin-right: 10px; /* Расстояние между иконками и текстом */
}

.social__item--icon-telegram .social__link {
  background-position: -10px -122px; /* Иконка Telegram */
}

.social__item--icon-vk .social__link {
  background-position: -66px -10px; /* Иконка ВКонтакте */
}

.social__item--icon-fb .social__link {
  background-position: -10px -66px; /* Иконка Facebook */
}

.social__item--icon-instagram .social__link {
  background-position: -122px -10px; /* Иконка Instagram */
}


.social__item--icon-telegram:hover .social__link {
  background-position: -122px -66px;
}

.social__item--icon-vk:hover .social__link {
  background-position: -66px -122px; /* Иконка ВКонтакте */
}

.social__item--icon-fb:hover .social__link {
  background-position: -66px -66px; /* Иконка Facebook */
}

.social__item--icon-instagram:hover .social__link {
  background-position: -10px -10px; /* Иконка Instagram */
}

